In [124]:
import pandas as pd

In [125]:
salary_data = pd.read_csv('dataset/Salaries.csv',low_memory=False)

In [126]:
salary_data.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [127]:
salary_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

In [128]:
sum(salary_data['BasePay'].isna())

605

In [129]:
salary_data['BasePay'].fillna(0,inplace=True)

In [130]:
sum(salary_data['BasePay'].isna())

0

In [131]:
def remove_notprovided(colname):
    for item in range(0,len(salary_data[colname])):
        if salary_data[colname][item] == "Not Provided":
            salary_data[colname][item] = 0

In [132]:
def convert_to_float(colname):
    salary_data[colname] = pd.to_numeric(salary_data[colname],downcast='float')

In [150]:
remove_notprovided('BasePay')

In [151]:
remove_notprovided('OvertimePay')

In [135]:
convert_to_float('BasePay')

In [136]:
convert_to_float('OvertimePay')

In [137]:
salary_data['BasePay'].mean()

66047.828125

In [138]:
salary_data['OvertimePay'].std()

11448.66015625

In [139]:
salary_data[salary_data['EmployeeName'] == 'JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

In [140]:
salary_data[salary_data['EmployeeName'] == 'JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

In [141]:
salary_data[salary_data['TotalPayBenefits'] == salary_data['TotalPayBenefits'].max()]['EmployeeName']

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

In [142]:
salary_data[salary_data['TotalPayBenefits'] == salary_data['TotalPayBenefits'].min()]['EmployeeName']

148653    Joe Lopez
Name: EmployeeName, dtype: object

In [143]:
salary_data.groupby('Year').mean()['BasePay']

Year
2011    63595.957031
2012    65436.406250
2013    68509.835938
2014    66557.437500
Name: BasePay, dtype: float32

In [144]:
salary_data['JobTitle'].nunique()

2159

In [145]:
salary_data['JobTitle'].value_counts().head(5)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

In [146]:
sum(salary_data[salary_data['Year']==2013]['JobTitle'].value_counts()==1)

202

In [147]:
len([title for title in salary_data['JobTitle'] if 'chief' in title.lower()])

627

In [148]:
salary_data['title_len'] = salary_data['JobTitle'].apply(len)

In [149]:
salary_data[['title_len','TotalPayBenefits']].corr()

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000